In [31]:
import pandas as pd
import numpy as np

In [53]:
file_path_games = '/Users/bobbyzhu/Desktop/academic/DSC/dsc106/final_project/data/games.csv'
file_path_ranking = '/Users/bobbyzhu/Desktop/academic/DSC/dsc106/final_project/data/ranking.csv'
file_path_teams = '/Users/bobbyzhu/Desktop/academic/DSC/dsc106/final_project/data/teams.csv'

games_df = pd.read_csv(file_path_games)
teams_df = pd.read_csv(file_path_teams)
games_df

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [54]:

nba_teams_nicknames_states = {
    "Hawks": "Georgia",
    "Celtics": "Massachusetts",
    "Nets": "New York",
    "Hornets": "North Carolina",
    "Bulls": "Illinois",
    "Cavaliers": "Ohio",
    "Mavericks": "Texas",
    "Nuggets": "Colorado",
    "Pistons": "Michigan",
    "Warriors": "California",
    "Rockets": "Texas",
    "Pacers": "Indiana",
    "Clippers": "California",
    "Lakers": "California",
    "Grizzlies": "Tennessee",
    "Heat": "Florida",
    "Bucks": "Wisconsin",
    "Timberwolves": "Minnesota",
    "Pelicans": "Louisiana",
    "Knicks": "New York",
    "Thunder": "Oklahoma",
    "Magic": "Florida",
    "76ers": "Pennsylvania",
    "Suns": "Arizona",
    "Trail Blazers": "Oregon",
    "Kings": "California",
    "Spurs": "Texas",
    "Raptors": "Ontario",  # This is a province, not a state.
    "Jazz": "Utah",
    "Wizards": "District of Columbia"  
}


games_df = games_df[['GAME_DATE_EST','GAME_ID','HOME_TEAM_ID','VISITOR_TEAM_ID','SEASON','HOME_TEAM_WINS']]
teams_df = teams_df[['TEAM_ID','CITY','NICKNAME']]
games_df = games_df.merge(teams_df,left_on='HOME_TEAM_ID',right_on='TEAM_ID').rename(columns={'CITY': 'HOME_CITY'}).rename(columns={'NICKNAME': 'HOME_NICKNAME'}).drop(columns=['TEAM_ID'])
games_df = games_df.merge(teams_df,left_on='VISITOR_TEAM_ID',right_on='TEAM_ID').rename(columns={'CITY': 'VISITOR_CITY'}).rename(columns={'NICKNAME': 'VISITOR_NICKNAME'}).drop(columns=['TEAM_ID'])
games_df = games_df.sort_values(by='GAME_DATE_EST',ascending=False).reset_index().drop(columns=['index'])
games_df['HOME_STATE'] = games_df['HOME_NICKNAME'].apply(lambda x: nba_teams_nicknames_states[x])
games_df

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,HOME_TEAM_WINS,HOME_CITY,HOME_NICKNAME,VISITOR_CITY,VISITOR_NICKNAME,HOME_STATE
0,2022-12-22,22200477,1610612740,1610612759,2022,1,New Orleans,Pelicans,San Antonio,Spurs,Louisiana
1,2022-12-22,22200478,1610612762,1610612764,2022,1,Utah,Jazz,Washington,Wizards,Utah
2,2022-12-21,22200468,1610612737,1610612741,2022,0,Atlanta,Hawks,Chicago,Bulls,Georgia
3,2022-12-21,22200473,1610612750,1610612742,2022,0,Minnesota,Timberwolves,Dallas,Mavericks,Minnesota
4,2022-12-21,22200471,1610612752,1610612761,2022,0,New York,Knicks,Toronto,Raptors,New York_Knicks
...,...,...,...,...,...,...,...,...,...,...,...
26646,2003-10-07,10300010,1610612764,1610612752,2003,1,Washington,Wizards,New York,Knicks,District of Columbia
26647,2003-10-07,10300003,1610612765,1610612739,2003,0,Detroit,Pistons,Cleveland,Cavaliers,Michigan
26648,2003-10-07,10300005,1610612757,1610612745,2003,1,Portland,Trail Blazers,Houston,Rockets,Oregon
26649,2003-10-06,10300002,1610612763,1610612749,2003,1,Memphis,Grizzlies,Milwaukee,Bucks,Tennessee
26650,2003-10-05,10300001,1610612762,1610612742,2003,1,Utah,Jazz,Dallas,Mavericks,Utah

In [64]:
games_df.to_csv('plot_1_data.csv')